/*---------->  CSS RESET  <------------ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*---------->  MY CSS <------------ */

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.streakBox {
    height: 10vh;
    width: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 45px;
}

@media (max-width: 600px) {
    .streakBox {
        margin-top: 5%;
        height: 10vh;
        width: 15vh;
    }
}

.streak {
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 65px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3%;
}

.game {
    position: relative;
    height: 80vh;
    width: 80vh;
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    border-radius: 50%;
    box-shadow: 10px 10px 5px #888888;
    background: radial-gradient(gray 2%, black 49%, black 50%);
}

@media (max-width: 600px) {
    .game {
        height: 75vh;
        width: 75vh;
    }
}

@media (max-width: 520px) {
    .game {
        height: 65vh;
        width: 65vh;
    }
}

@media (max-width: 473px) {
    .game {
        height: 55vh;
        width: 55vh;
    }
}

@media (max-width: 390px) {
    .game {
        height: 50vh;
        width: 50vh;
    }
}

@media (max-width: 364px) {
    .game {
        height: 45vh;
        width: 45vh;
    }
}

.console {
    position: absolute;
    height: 40%;
    width: 40%;
    margin-left: 30%;
    margin-top: 30%;
    background-color: silver;
    border-radius: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: radial-gradient(white 2%, silver 49%, silver 50%);
    box-shadow: 0px 0px 6px white;
}

.consoleBackground {
    position: absolute;
    height: 47%;
    width: 47%;
    margin-left: 26.5%;
    margin-top: 26.5%;
    background-color: #262626;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0px 0px 1px black;
    /*background: radial-gradient(gray 2%, black 49%, black 50%);*/
}

.consoleHeader {
    width: 90%;
    text-align: center;
    font-size: 65px;
    font-family: 'Bitter', serif;
    font-weight: 900;
    margin-top: 12%;
}

@media (max-width: 600px) {
    .consoleHeader {
        font-size: 50px;
    }
}

@media (max-width: 473px) {
    .consoleHeader {
        font-size: 40px;
    }
}

@media (max-width: 320px) {
    .consoleHeader {
        font-size: 30px;
    }
}

.consoleText {
    /*font-size: 400%;*/
}

.settings {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

p {
    width: 33%;
    text-align: center;
    margin-bottom: 10%;
}

@media (max-width: 473px) {
    p {
        font-size: 12px;
    }
}

@media (max-width: 365px) {
    p {
        font-size: 10px;
    }
}

.buttonContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.button {
    cursor: pointer;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0px 0px 10px black;
    /*background: radial-gradient(yellow 50%, yellow 49%, #e6e600 1%);*/
}

.button:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
}

.button2 {
    cursor: pointer;
    height: 3vh;
    width: 3vh;
    border-radius: 1.5vh;
    background-color: red;
    box-shadow: 0px 0px 10px black;
}

.button2:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8%;
    margin-bottom: 5%;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/*  -----------> The slider <---------------- */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    transition: .4s;
    background: radial-gradient(gray 2%, #404040 49%, #404040 50%);
}

.slider:before {
    position: absolute;
    content: "";
    height: 70%;
    width: 40%;
    left: 5%;
    bottom: 10%;
    background-color: gray;
    transition: .4s;
    background: radial-gradient(gray 2%, black 49%, black 50%);
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

@media (max-width: 600px) {
    input:checked+.slider:before {
        transform: translateX(20px);
    }
}

@media (max-width: 473px) {
    input:checked+.slider:before {
        transform: translateX(16px);
    }
}

@media (max-width: 390px) {
    input:checked+.slider:before {
        transform: translateX(14px);
    }
}

@media (max-width: 363px) {
    input:checked+.slider:before {
        transform: translateX(12px);
    }
}


/*  ----------> PADS <--------------*/

.yellowPad {
    position: relative;
    cursor: pointer;
    height: 39%;
    width: 39%;
    margin-top: 7%;
    margin-left: 7.5%;
    background-color: #f4f401;
    border-radius: 980% 20% 20%;
    box-shadow: 3px 3px 2px #bfbfbf;
}

.yellowPad:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: radial-gradient(white 2%, #ffff4d 48%, yellow 50%);
}

.yellowGlow {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: radial-gradient(white 2%, #ffff4d 48%, yellow 50%);
}

.bluePad {
    position: relative;
    cursor: pointer;
    height: 39%;
    width: 39%;
    margin-top: 7%;
    margin-left: 7%;
    background-color: #0099ff;
    /*opacity: .5;*/
    border-radius: 20% 980% 20% 20%;
    ;
    box-shadow: 3px 3px 2px #bfbfbf;
}

.bluePad:active {
    background-color: #0099ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: radial-gradient(white 2%, #33adff 48%, #33adff 50%);
}

.blueGlow {
    background-color: #0099ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: radial-gradient(white 2%, #33adff 48%, #33adff 50%);
}

.redPad {
    position: relative;
    cursor: pointer;
    height: 39%;
    width: 39%;
    margin-left: 7.5%;
    margin-bottom: 1.5%;
    background-color: #e60000;
    /*opacity: .5;*/
    border-radius: 20% 20% 20% 980%;
    box-shadow: 2px 2px 2px #bfbfbf;
}

.redPad:active {
    background-color: #e60000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: radial-gradient(white 2%, #ff3333 48%, #ff3333 50%);
}

.redGlow {
    background-color: #e60000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: radial-gradient(white 2%, #ff3333 48%, #ff3333 50%);
}

.greenPad {
    position: relative;
    cursor: pointer;
    height: 39%;
    width: 39%;
    margin-left: 7%;
    margin-bottom: 1.5%;
    background-color: #009900;
    /*opacity: .5;*/
    border-radius: 20% 20% 980% 20%;
    box-shadow: 2px 2px 2px #bfbfbf;
}

.greenPad:active {
    background-color: #009900;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: radial-gradient(white 2%, #00cc00 48%, #00cc00 50%);
}

.greenGlow {
    background-color: #009900;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: radial-gradient(white 2%, #00cc00 48%, #00cc00 50%);
}

.hideModal {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    align-items: center;
    text-align: center;
    flex-flow: row wrap;
    position: absolute;
    margin-left: 25%;
    margin-top: 40%;
    height: 20%;
    width: 50%;
    z-index: 3;
    border-radius: 10px;
    background-color: silver;
    background: radial-gradient(white 1%, silver 49%, silver 50%);
    box-shadow: 0px 0px 6px black;
    color: black;
}

.showModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-flow: row wrap;
    position: absolute;
    margin-left: 25%;
    margin-top: 40%;
    height: 20%;
    width: 50%;
    z-index: 3;
    border-radius: 10px;
    background-color: silver;
    background: radial-gradient(white 1%, silver 49%, silver 50%);
    box-shadow: 0px 0px 6px black;
    color: black;
}

.modalText {
    font-family: 'Bitter', serif;
    margin-bottom: 5%;
}

.yesModalButton {
    background-color: #009900;
}

.noModalButton {
    background-color: #e60000;
}
